<p id="notice"><%= notice %></p>

<%= turbo_frame_tag 'ticket' do %>
  <h1><%= @ticket.title %></h1>
  <p><%= @ticket.content %></p>

  <%= link_to 'Edit', edit_ticket_path(@ticket) %> |
  <%= link_to 'Back', tickets_path, data: { turbo_frame: :_top } %>
<% end %>

<div id="comments">
  <h2>Comments</h2>
  <%= render @ticket.comments %>
</div>

<%= link_to 'New Comment', new_ticket_comment_path(@ticket) %>
